*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container h1{
    text-align: center;
    padding-top: 20px;

}

.posts-list-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.post-item{
    margin: 20px;
    border: 2px solid red;
    padding: 10px;
    border-radius: 20px;
}

.post-item h3{
    padding-bottom: 10px;
    text-align: center;
}